*{
    box-sizing: border-box;
}



body{
    /* box position */
    background-image: url(./assets/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}



.container{
    /* box position */
    position: absolute;
    width: 400px;
    height: 300px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* box aesthetics */
    padding: 10px;
    border: 5px solid  transparent;
    border-radius: 15px;
    text-align: left;
    font-family: sans-serif;
    background-color: rgba(86, 98, 99, 0.4);
    color: #fff;
}



.title{
    /* box position */
    width: 370px;
    height: 50px;
    margin: 5px;
    text-align: center;
}



.element{
    padding: 15px;
}



.input{
    /* box position */
    width: 220px;
    height: 25px;
    
    /* box aesthetics */
    margin: 5px 5px 0px 10px;
    padding: 1px;
    border-radius: 15px;
    border: 1px transparent; /* Ejemplo de borde */
    outline: none;
}



.botton{
    width: 220px;
    height: 25px;
    background-color: #1851BF;
    color: #fff;
    border: 1px solid #1851BF;
    margin-left: 50px;
    border-radius: 20px;
    font-size: 1rem;
}



.container-2{
    /* box position */
    position: absolute;
    top: 450px;
    left: 580px;
    width: 400px;
    height: 25px;
    
}



a{
    font-size: 1.2em;
    text-decoration: none;
    color: #dfdede;
    margin: 20px;
}